body {
    color: black;
    background: #d5c8b9;
    line-height: 2;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

nav {
  background-color: #8a6f4d;
  padding: 20px;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  font-family: "Lora", serif;
}

#menu a {
  color: black;
  text-decoration: none;
}

#menu a:hover {
  color: #1a2536;
  border-bottom: 2px solid #c9a063;
}

header h1 {
    text-align: center;
    margin: 0 0 15px;
    font-family: "Caesar dressing", serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


 
#shimeji {
  position: fixed;
  bottom: 0;
  left: 100px;
  width: 96px;
  user-select: none;
  cursor: grab;
  z-index: 999999;
  transition: transform 0.15s linear;
}
.rostinho {
    padding: 90px 32px 70px;
    text-align: left;
    background: #d5c8b9;
    position: relative;
}
 

.rostinho h2 {
    font-family: 'Cinzel', serif;
    font-size: clamp(2rem, 5vw, 3.4rem);
    font-weight: 700;
    line-height: 1.25;
    max-width: 680px;
    margin: 0 0 18px;
    color: black;
}
 
.rostinho h2 span {
    color: goldenrod;
    font-style: italic;
}
 
.rostinho p {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 1.15rem;
    color: rgb(147, 109, 13);
    max-width: 520px;
    margin: 0 0 10px;
}
 

.curiosidades {
    padding: 70px 32px;
    background: #d5c8b9;
}
 
.curiosidades-header {
    text-align: left;
    max-width: 560px;
    margin: 0 0 48px;
}
 
.curiosidades-header h2 {
    font-family: 'Cinzel', serif;
    font-size: clamp(1.5rem, 3vw, 2.1rem);
    font-weight: 700;
    margin-bottom: 10px;
    color: #6b4f14;
}
 
.curiosidades-header p {
    color: rgb(147, 109, 13);
    font-size: 1rem;
    font-style: italic;
}
.cards-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    gap: 24px;
    max-width: 1000px;
    margin: 0 auto;
}
 
.card {
    background: #c7b6a2;;
    padding: 30px 26px;
    border: 1px solid #c9a063;
    border-top: 1px solid #8a6d3b;
    position: relative;
}
 
.card h4 {
    font-family: 'Cinzel', serif;
    font-size: 1.05rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #6b4f14;
}
 
.card p {
    color: rgb(101, 67, 33);
    font-size: 0.95rem;
    font-family: 'EB Garamond', serif;
}

footer {
    background: #8a6f4d;
    color: #d5c8b9;
    padding: 28px 32px;
    text-align: center;
}

.footer-logo {
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 6px;
}

footer p {
    font-family: 'EB Garamond', serif;
    font-size: 0.82rem;
    opacity: 0.6;
}
