nav {
  background-color: #8a6f4d;
  padding: 20px;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  font-family: "Lora", serif;
}

#menu a {
  color: black;
  text-decoration: none;
}

#menu a:hover {
  color: #1a2536;
  border-bottom: 2px solid #c9a063;
}

header h1 {
    text-align: center;
    margin: 0 0 15px;
    font-family: "Caesar dressing", serif;
}



#shimeji {
  position: fixed;
  bottom: 0;
  left: 100px;
  width: 96px;
  user-select: none;
  cursor: grab;
  z-index: 999999;
  transition: transform 0.15s linear;
}

body {
    color: black;
    background: #d5c8b9;
    line-height: 2;
    font-family: 'Cinzel', serif;
    margin: 0;
}

.card-destaque {
    background:#c7b6a2;;
    padding: 18px 20px;
    border: 1px solid #c9a063;
    border-top: 1px solid #8a6d3b;
    max-width: 380px;
    margin: 0 auto;
    position: relative;
}

.card-destaque h3 {
    font-family: 'Cinzel', serif;
    font-weight: 600;
    color: #6b4f14;
    margin-bottom: 8px;
    font-size: 1.3rem;
}

.card-destaque p {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    color: rgb(101, 67, 33);
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 0.95rem;
}

.final {
    padding: 100px 30px;
    text-align: left;
    background: #d5c8b9;
}

.final h2 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: clamp(1.5rem, 3vw, 2.3rem);
    margin-bottom: 20px;
    color: black;
    max-width: 700px;
}

.final p {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    max-width: 700px;
    margin: 0;
    color: rgb(147, 109, 13);
    font-size: 1.05rem;
}

footer {
    background: #8a6f4d;
    color: #d5c8b9;
    padding: 28px 32px;
    text-align: center;
}

.footer-logo {
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 6px;
}

footer p {
    font-family: 'EB Garamond', serif;
    font-size: 0.82rem;
    opacity: 0.6;
}

footer {
    background: #8a6f4d;
    color: #d5c8b9;
    padding: 28px 32px;
    text-align: center;
}

.footer-logo {
    font-family: 'Cinzel', serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 6px;
}

footer p {
    font-family: 'EB Garamond', serif;
    font-size: 0.82rem;
    opacity: 0.6;
}
